body {background-color: #a8c9f0;  text-align: center;
    background: url(fon2.JPG);
    text-align: center;
    }
div{    width: 800px;
    height: 740px ;
    margin: 0px 250px;
     background: url(rosa_pastel.jpg);
    text-align: center;
    }
h1{ font-family: serif;
        color: #3a3434;
        text-align: center;
        font-size: 0.6cm;
    }
